* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F5F5F5;
}
/* header  */
header {
     padding: 37px 0px;
     margin-bottom: 47px;
}

h2{
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    text-shadow: 0px 6px 6px #0000000D;

}
/* container ის ქვეშ მოქცეულია ნავიგაცია*/
.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transition: 0.5s;
}

.navigation a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    text-decoration: none;
    padding: 10px;
}

.navigation > a:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transition: 0.5s;
    color: #4CE0D7;
}

.navigation > img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transition: 0.5s;
}

/* logoebis hover affect */

.topics-cards img {
    transition: transform 0.3s ease;
  }
  
  .topics-cards img:hover {
    transform: scale(1.5);
    border: 5px solid #4CE0D7
  }

.navigation {
    display: flex;
    gap:65px;
}

.button {
    width: 143.81px;
    height: 35.95px;
    left: 1098px;
    top: 42.17px;
    background: #4CE0D7;
    border-radius: 40px;
    border: none ;
    transition: 0.5s;
   
}
.button:hover {
   background-color: #FFFFFF;
   border: solid 0.5px 	#000000;
   transform: scale(1.3);
   -webkit-transform: scale(1.3);
   -ms-transform: scale(1.3);
   transition: 0.5s;
}

/* container-small ში მოქცეულია ტოპიკები და ასევე ბექგრაუნდ იმიჯად არის არჩეული სურათი */
.container-small p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    width: 492px;
}

.container-small {
    max-width: 1270px;
    margin: 0 auto;
    background-image: url(./assets/main-background-picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 559px;
    border-radius: 20px;
    margin-bottom: 73px;
}

.section {
    max-width: 1270px;
    margin: 0 auto;
}

h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.23em;
    color: #FFFFFF;
}
h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 69px;
    color: #FFFFFF;
}

h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    
    color: #262626;
}


/* read-more-common არის კლასი როგორც trendingis ასევე და fashion ის პოსტების ტექსტების რადგანაც ერთი და იგივე ატრიბუტები აქვთ */
.read-more-common {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.read-more-common img {
    width: 21px;
    height: 13px;
}

.read-more-common > img:hover {
    transform: scale(1.5);
    transition: 0.3s;
}
.read-more-common p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.24em;
    color: #4CE0D7;
}

.read-more-common > p:hover {
    color: black;
}

.read-more-common {
    margin-bottom: 38px;
}
.fashion-post-container {
    margin-bottom: 97px;
    box-shadow: 0px 6px 6px 0px #0000000D;
}
.trending-header {
    margin-bottom: 55px;

}
.trending-card {
    background-color:#FFFFFF;
    width: 579px;
    height: 670px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 6px 6px 0px #0000000D;

}
.button-small {
    width: 180.44px;
    height: 36.49px;
    background: #262626;
    border-radius: 40px;
    padding: 10px 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    position:absolute;
    left: 10px;
    top: 15px;
}

.trending-img {
    border-radius: 20px;
    width: 579px;
}

.malory {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: 24px;
    padding-top: 15px;
    padding-bottom: 28px;
}

.malory img {
    border-radius: 50px;
}

.malory p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #BCBCBC;
    margin-right: 100px;
    
}
.trending-card-input {
    display: flex;
    flex-direction: column;
    width: 470px;
    margin-left: 34px;
    gap:30px
}
.trending-card-input-paragraph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}
.trending-cards {
    display: flex;
    gap: 60px;
    margin-bottom: 88px;
    justify-content: space-between;
}
.news-card {
    position: relative;
    display: flex;
    background: #FFFFFF;
    width: 1270px;
    height: 368px;
    border-radius: 20px;
    gap: 45px;
    box-shadow: 0px 6px 6px 0px #0000000D;
}
.news-card-img {
 border-radius: 20px;
}
.common-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
}
.news-card-input {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.news-cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 69px;

}

h1 {
    transition: transform 0.3s ease; 
  }
  
h1:hover {
    transform: scale(1.08);
  }




.container-small:hover {
    transform: scale(1.02);
    border: 5px solid #4CE0D7; /* Darker shadow on hover */
}




